
.description {
    display: block;
    color: #999;
    font-size: 10px;
    line-height: 17px;
}

html {
  font-size: 14px;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.header-h1 h1 {
    position: relative;
    padding-bottom: .5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    color: #198754;
}

    .header-h1 h1::before {
        content: "";
        position: absolute;
        border-bottom: 2px solid #198754;
        bottom: .25rem;
        left: 50%;
        width: 30%;
        transform: translateX(-50%);
    }

    .header-h1 h1::after {
        content: "";
        position: absolute;
        border-bottom: 2px solid #198754;
        bottom: 0;
        left: 50%;
        width: 15%;
        transform: translateX(-50%);
    }

    .header-h1dop h1::before {
       width: 50%;  
    }

.header-h1dop h1::after {
    width: 30%;
}

.header-h1dop2 h1 {
    font-size: 1.2rem;
}

    .header-h1dop2 h1::before {
        width: 100%;
    }

    .header-h1dop2 h1::after {
        width: 60%;
    }

.password {
    position: relative;
}

.password-control {
    position: absolute;
    top: 11px;
    right: 6px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
}
    .password-control.view1 {
        background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
    }

    .password-control.view {
        background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
    }

.password-control1 {
    position: absolute;
    top: 11px;
    right: 6px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
}

.password-control1.view {
    background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
}

.list {
    margin: 0 -20px 0 0;
    overflow: hidden;
}

.list-item {
    margin: 0 0px 20px 0;
    border: 2px solid #34c834;
    padding: 5px 10px;
}

.list-item2 {
    border: 2px solid #198754;
}

.tableChangingPoints {
    width: 100%;
    margin-bottom: 20px;
}

    .tableChangingPoints th {
        text-align: center;
        font-weight: bold;
        padding: 5px;
        background: #1987543b;
        border: 1px solid #198754;
        font-size: 14px;
    }

    .tableChangingPoints td {
        border: 1px solid #198754;
        padding: 5px;
    }

inpnew {
    border: aliceblue;
    width: auto
}

.table {
    width: 100%;
    margin-bottom: 20px;
}

    .table th {
        text-align: center;
        border-bottom-color: none;
        font-weight: bold;
        padding: 5px;
        background: #34c8343d;
        border: 1px solid #34c834;
        font-size: 14px;
    }

    .table td {
        border: 1px solid #34c834;
        padding: 5px;
    }

.pformat {
    font-size: 16px;
    color: #198754;
    text-decoration: underline;
}

.checkbox-google {
    display: inline-block;
    line-height: 28px;
    position: relative;
    vertical-align: super;
    font-size: 12px;
}

.checkbox-google .checkbox-google-switch {
    display: inline-block;
    width: 36px;
    height: 14px;
    border-radius: 20px;
    position: relative;
    top: 6px;
    vertical-align: top;
    background: #9f9f9f;
    transition: .2s;
}

    .checkbox-google .checkbox-google-switch:before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        position: absolute;
        top: -3px;
        left: -1px;
        background: #fff;
        border-radius: 50%;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
        transition: .15s;
    }

.checkbox-google input[type=checkbox] {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    opacity: 0;
}

    .checkbox-google input[type=checkbox]:checked + .checkbox-google-switch {
     background: #a8f79a
    }

        .checkbox-google input[type=checkbox]:checked + .checkbox-google-switch:before {
            background: #34c834;
            transform: translateX(18px);
        }

.checkbox-google input[type="checkbox"]:not(:disabled) + .checkbox-google-switch {
    cursor: pointer;
    border-color: rgba(0, 0, 0, .3);
}

.checkbox-google input[type="checkbox"]:not(:disabled):active + .checkbox-google-switch:before,
.checkbox-google input[type="checkbox"]:not(:disabled):focus + .checkbox-google-switch:before {
    animation: checkbox-active-on 0.5s forwards linear;
}

@keyframes checkbox-active-on {
    0% {
        box-shadow: 0 0 0 0 rgba(212,212,212, 0);
    }

    99% {
        box-shadow: 0 0 0 10px rgba(212,212,212, 0.5);
    }
}

.checkbox-google input[type="checkbox"]:not(:disabled):checked:active + .checkbox-google-switch:before,
.checkbox-google input[type="checkbox"]:not(:disabled):checked:focus + .checkbox-google-switch:before {
    animation: checkbox-active-off 0.5s forwards linear;
}

@keyframes checkbox-active-off {
    0% {
        box-shadow: 0 0 0 0 rgba(154,190,247, 0);
    }

    99% {
        box-shadow: 0 0 0 10px rgba(154,190,247, 0.5);
    }
}

.checkbox-google input[type=checkbox]:disabled + .checkbox-google-switch {
    filter: grayscale(60%);
    border-color: rgba(0, 0, 0, .1);
}

    .checkbox-google input[type=checkbox]:disabled + .checkbox-google-switch:before {
        background: #eee;
    }

.dopp {
    box-sizing: content-box;
    padding: unset;
    margin-top: 5px;
}

.vkl {
    object-fit: none;
    object-position: bottom;
    aspect-ratio: 1;
    width: max-content;
    margin-bottom: 5px;
}

.vykl {
    object-fit: none;
    aspect-ratio: 1;
    width: max-content;
    margin-bottom: 5px;
    object-position: top;
}

.brdr {
    border-bottom: double;
    inline-size: -webkit-fill-available;
    text-align: center;
}

.d1 input {
    width: 100%;
    height: 42px;
    border: 2px solid #198754;
    border-radius:5px;
    outline: none;
    background: #cae3d72b;
    color: #9E9C9C;
}

.d1 button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 42px;
    height: 42px;
    border: 2px solid #198754;
    background: #1987543b;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.menu-main {
    list-style: none;
    padding: 5px 0 5px;
    text-align: center;
    background: #1987541f;
}

    .menu-main li {
        display: inline-block;
    }

        .menu-main li:after {
            content: "|";
            color: #606060;
            display: contents;
            vertical-align: top;
        }

        .menu-main li:last-child:after {
            content: none;
        }

    .menu-main a {
        text-decoration: none;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 2px;
        position: relative;
        padding-bottom: 0px;
        margin: 0 30px 0 30px;
        font-size: 17px;
        display: inline-block;
        transition: color .2s;
    }

        .menu-main a, .menu-main a:visited {
            color: black;
        }

            .menu-main a.current, .menu-main a:hover {
                color: #198754;
            }

            .menu-main a:before,
            .menu-main a:after {
                content: "";
                position: absolute;
                height: 4px;
                top: auto;
                right: 50%;
                bottom: -5px;
                left: 50%;
                background: #198754;
                transition: .8s;
            }

            .menu-main a:hover:before, .menu-main .current:before {
                left: 0;
            }

            .menu-main a:hover:after, .menu-main .current:after {
                right: 0;
            }

@media (max-width: 550px) {
    .menu-main {
        padding-top: 0;
    }

        .menu-main li {
            display: block;
        }

            .menu-main li:after {
                content: none;
            }

        .menu-main a {
            padding: 25px 0 20px;
            margin: 0 30px;
        }
}

.titleNameIM {
    font-size: 20px;
    color: rgb(50, 50, 50);
    text-transform: uppercase;
    line-height: 1.5;
    text-align: center;
    position: relative;
    color: #198754;
}

    .titleNameIM span {
        font-family: 'Times New Roman', Times, serif;
        background: #fff;
        display: inline-block;
        padding: 0 18px;
        position: relative;
    }

    .titleNameIM:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px; /* ширина линии */
        background: #f3f4f2; /* цвет линии */
    }