<div id="map" style="width: 800px; height: 600px"></div>

<script src="https://api-maps.yandex.ru/2.1/?apikey=91e2bfa0-83c9-40ea-8f88-8ccda16939a1&lang=ru_RU"
  type="text/javascript">
  </script>

 <script src="/js/map.js"></script>