<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
 
<div class="header-h1">
  <h1>Вход</h1>
</div>

<div class="row justify-content-center align-items-center">
<div class="col-4">
<div class="input-group mb-3">
<span class="input-group-text" style="width: 100px" id="basic-addon3">Email</span>
<input type="text" class="form-control" id="InpEmail" aria-describedby="basic-addon3">
</div>
</div>
</div>

<div class="row justify-content-center align-items-center">
<div class="col-4">
<div class="input-group mb-3">
<span class="input-group-text" style="width: 100px" id="basic-addon3">Пароль</span>
<input type="password" class="form-control password" style="border-radius:0 0.25rem 0.25rem 0" id="InpPassword" name="password2">
  <a href="#" class="password-control"></a>
</div>
</div>
</div>

<div class="row justify-content-center align-items-center">
<button class="btn btn-outline-success col-4" type="button" color="#00838f" id="InpButt">Войти</button>
</div>

<div class="row justify-content-center align-items-center">
<p class="text-center col-4 fraza2" style="color:red"></p>
</div>

 <link rel="stylesheet" href="/css/site.css">
 <script src="/js/site.js"></script>










@*
Который я долго исправляла, но не смогла перенести к центру
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>


<div class="header-h1">
<h1>Вход</h1>
</div>
<div class="container">
<div class=" input-group row offset-2 mb-3 col-xs-8" style="flex-wrap:unset; flex:none">
<span class="input-group-text col-xs-2" style="width: 100px; flex:none" id="basic-addon">Email</span>
<input type="text" class="form-control col-xs-10" id="InpEmail" aria-describedby="basic-addon3" style="flex-shrink:unset;width:unset; flex:none">
</div>
</div>

<div class="container">
<div class="input-group row offset-2 mb-3 col-xs-8" style="flex-wrap:unset; flex:none">
<span class="input-group-text col-xs-2" style="width: 100px; flex:none" id="basic-addon1">Пароль</span>
<input type="password" class="form-control col-xs-10" id="InpPassword" aria-describedby="basic-addon3" style="flex-shrink:unset;width:unset;flex:none">
</div>
</div>


<button class="btn btn-outline-success mb-3 offset-2 col-xs-8" type="button" color="#00838f" id="InpButt">Войти</button>

<link rel="stylesheet" href="/css/site.css">
<script src="/js/site.js"></script>
*@