<div class="header-h1 header-h1dop">
  <h1>Панель управления имитационным моделированием</h1>
</div>
<div class="row justify-content-center align-items-center">
<nav>
<ul class="menu-main">
     <li class="nav-item">
		<a class="nav-link" asp-controller="Home" asp-action="SimulationModel">Параметры ИМ и карта</a>
	 </li>
	  <li class="nav-item">
	 	<a class="nav-link" asp-controller="Home" asp-action="Parking">Стоянки</a>
	 </li>
	 <li class="nav-item">
		<a class="nav-link" asp-controller="Home" asp-action="Containers">Контейнеры</a>
	 </li>
	 <li class="nav-item">
	 	<a class="nav-link" asp-controller="Home" asp-action="GarbageTruck">Машины</a>
	 </li>
	 <li class="nav-item">
	 	<a class="nav-link" asp-controller="Home" asp-action="Stock">Базы</a>
	 </li>
	 <li class="nav-item">
	 	<a class="nav-link" asp-controller="Home" asp-action="Routes">Рейсы</a>
	 </li> 
</ul>
</nav>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div id="map" style="width: 850px; height: 600px"></div>
    </div>
	 <div class="col">
        <div class="list">
	<div class="list-item list-item2 d-flex flex-column">
        <label class="brdr mb-2" >Задание параметров имитационной модели</label>
        <p class="pformat mb-0">1.Объём контейнера</p>
           <p style="margin-block: unset"><input type="checkbox" name="V1"> Заданное пользователем   <input type="text" style="width:50px;height: 20px;"> м^3</p>
           <p style="margin-block: unset"><input type="checkbox" name="V2"> Случайное</p>
           <p class="pformat mb-0" >2.Скорость заполнения контейнера</p>
           <p style="margin-block: unset"><input type="checkbox" name="S1"> Равномерное</p>
           <p style="margin-block: unset"><input type="checkbox" name="S2"> Случайное</p>
		  <button type="button" class="btn btn-outline-success ml-auto" style="margin-left: auto;" id="NewParamIM">Сохранить</button>
		</div>
       <a class="nav-link" asp-controller="Home" asp-action="ManualInput">Ручной ввод маршрута</a>
	</div>
	</div>
	</div>
	</div>



<div id="mapJson" hidden></div>
 <input type="hidden" id="mapFilters">

<script src="https://api-maps.yandex.ru/2.1/?apikey=91e2bfa0-83c9-40ea-8f88-8ccda16939a1&lang=ru_RU"
  type="text/javascript">
</script>

 <link rel="stylesheet" href="/css/site.css">
<script src="/js/site.js"></script>
 <script src="/js/map.js"></script>